{% extends 'mail.html.twig' %}

{% block body %}

    <p>Sign Up confirm link:</p>

    {% set url = frontend_url ~ '/signup/confirm?token=' ~ token %}

    <p><a href="{{ url }}">{{ url }}</a></p>

{% endblock %}